.page {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: red;
}

.nav {
    height: 10%;
    width: 100%;
    position: relative;
    display: flex;
    background-color: rgb(69, 178, 193);
}

.logo {
    height: inherit;
    position: inherit;
}

.nav-logo {
    height: 75px;
    position: inherit;
    margin-left: 10%;
    width: 14%;
}

.nav-menu {
    margin-top: 0.6%;
    margin-bottom: 0.6%;
    margin-left: 30%;
    position: relative;
    width: 40%;
}

h3 {
    float: left;
    margin-left: 8%;
    color: whitesmoke;
}

.h3:hover {
    text-decoration: overline solid;
    /* border-top-style: solid;
    border-bottom-width: 1px; */
    color: whitesmoke;
}

.explore {
    background-image: url(forest.jpg);
    background-size: cover;
    position: absolute;
    width: 100%;
    font-size: larger;
    height: 100%;
    color: white;
}

.text {
    width: fit-content;
    height: fit-content;
    margin: 10%;
    margin-left: 38%;
    text-align: center;
}

p {
    height: auto;
    width: auto;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    /* background-color: chartreuse; */
}

.b1 {
    transition: all 0.5s ease;
    color: #fff;
    border: 1px solid white;
    font-family: "Montserrat", sans-serif;
    /* text-transform: uppercase; */
    text-align: center;
    line-height: 2;
    font-size: 15px;
    background-color: transparent;
    padding: 10px;
    outline: none;
    border-radius: 44px;
}

.b1:hover {
    color: #001f3f;
    background-color: #fff;
}

.explore-more {
    height: 15%;
    width: 80%;
    outline: none;
    color: #2596be;
    font-size: large;
    line-height: 1;
    border-radius: 90px;
    background-color: white;
    border: 2px solid blue;
    margin-left: 10%;
}

.explore-nav {
    position: absolute;
    height: 58%;
    position: inherit;
    width: 16%;
    margin: 2%;
    margin-left: 5%;
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
}

.person {
    position: inherit;
    height: 80%;
    width: 100%;
    border: 1.5px solid #2596be;
    border-radius: 50% 50% 50% 50%;
    /* border-spacing: 19%; */
}

.text1 {
    height: fit-content;
    width: fit-content;
    float: left;
    margin-left: 85px;
    top: 67%;
    position: absolute;
    opacity: 0.5;
}

.text2 {
    height: fit-content;
    position: absolute;
    float: left;
    width: fit-content;
    top: 70.5%;
    margin-left: 88px;
    font-weight: bold;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.explore-nav1 {
    /* position: inherit; */
    height: 58%;
    position: relative;
    width: 16%;
    margin: 2%;
    margin-left: 25%;
    bottom: 80%;
    display: flex;
}

.world {
    position: inherit;
    height: 80%;
    width: 90%;
    border: 1.5px solid #2596be;
    border-radius: 55% 55% 55% 55%;
    bottom: auto;
}

.text3 {
    height: fit-content;
    width: fit-content;
    float: left;
    margin-left: 85px;
    top: 9.5%;
    position: absolute;
    opacity: 0.5;
}

.text4 {
    height: fit-content;
    position: absolute;
    float: left;
    width: fit-content;
    top: 47%;
    margin-left: 88px;
    font-weight: bold;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.explore-nav2 {
    height: 58%;
    position: relative;
    width: 16%;
    /* background-color: #001f3f; */
    margin: 2%;
    margin-left: 45%;
    bottom: 159%;
    display: flex;
}

.home-img {
    position: inherit;
    height: 100%;
    width: 35%;
    border: 2px solid #2596be;
    border-radius: 50%;
    /* bottom: 5%; */
    /* background-color: gold; */
}

#home {
    position: inherit;
    height: 30%;
    font-size: 25px;
    color: #2596be;
    width: 30%;
    margin: 27%;
    margin-top: 25%;
}

.text5 {
    height: fit-content;
    width: fit-content;
    float: left;
    margin-left: 85px;
    top: 9.5%;
    position: absolute;
    opacity: 0.5;
}

.text6 {
    height: fit-content;
    position: absolute;
    float: left;
    width: fit-content;
    /* background-attachment: fixed; */
    top: 47%;
    margin-left: 88px;
    font-weight: bold;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.explore-button {
    height: 50%;
    position: relative;
    width: 13%;
    margin: 2.5%;
    margin-left: 83%;
    text-align: center;
    bottom: 238%;
    display: flex;
    /* background-color: #001f3f; */
}

.b2 {
    height: fit-content;
    position: absolute;
    width: 100%;
    top: 3%;
    transition: all 0.5s ease;
    color: #fff;
    border: 1px solid white;
    font-family: "Montserrat", sans-serif;
    /* text-transform: uppercase; */
    text-align: center;
    line-height: 2;
    font-size: 15px;
    background-color: #2596be;
    padding: 10px;
    outline: none;
    border-radius: 44px;
}

.b2:hover {
    color: #2596be;
    background-color: white;
    border: 2px solid black;
}